node_modules
temp
dist
.DS_Store
package.ts

# VS Code
.vscode/*
.history/
*.vsix

# IDEA files
.idea

# VIM
Session.vim
.vim/

# Other private editor folders
.nvim/
.emacs/
.helix/

# Deployment files
deploy-link-*.json
